{% extends 'base.html' %}


{% block content %}
    <div class="text-center">
        <h1>Hello, world!</h1>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <p>Contact Form</p>
                <div class="col-sm-6 col-12">
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{contact_form}}
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}